@font-face {
  font-family: 'Drina';
  src: local('Drina'), 
       url('../fonts/Drina/Drina.woff') format('woff'),
       url('../fonts/Drina/Drina.ttf') format('ttf'),
       url('../fonts/Drina/Drina.eot') format('eot');
}
@font-face {
  font-family: 'OpenSansLight';
  src: local('OpenSansLight'), 
       url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
       url('../fonts/OpenSansLight/OpenSansLight.ttf') format('ttf'),
       url('../fonts/OpenSansLight/OpenSansLight.eot') format('eot');
}
@font-face {
  font-family: 'PFCentroSlabProBold';
  src: local('PFCentroSlabProBold'), 
       url('../fonts/PFCentroSlabPro/PFCentroSlabProBold.woff') format('woff'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProBold.ttf') format('ttf'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProBold.eot') format('eot');
}
@font-face {
  font-family: 'PFCentroSlabProLight';
  src: local('PFCentroSlabProLight'), 
       url('../fonts/PFCentroSlabPro/PFCentroSlabProLight.woff') format('woff'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProLight.ttf') format('ttf'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProLight.eot') format('eot');
}
@font-face {
  font-family: 'PFCentroSlabProMedium';
  src: local('PFCentroSlabProMedium'), 
       url('../fonts/PFCentroSlabPro/PFCentroSlabProMedium.woff') format('woff'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProMedium.ttf') format('ttf'),
       url('../fonts/PFCentroSlabPro/PFCentroSlabProMedium.eot') format('eot');
}
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), 
       url('../fonts/Roboto/RobotoLight.woff') format('woff'),
       url('../fonts/Roboto/RobotoLight.ttf') format('ttf'),
       url('../fonts/Roboto/RobotoLight.eot') format('eot');
}
@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), 
       url('../fonts/Roboto/RobotoMedium.woff') format('woff'),
       url('../fonts/Roboto/RobotoMedium.ttf') format('ttf'),
       url('../fonts/Roboto/RobotoMedium.eot') format('eot');
}
@font-face {
  font-family: 'RobotoThin';
  src: local('RobotoThin'), 
       url('../fonts/Roboto/RobotoThin.woff') format('woff'),
       url('../fonts/Roboto/RobotoThin.ttf') format('ttf'),
       url('../fonts/Roboto/RobotoThin.eot') format('eot');
}

.trans {
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.trans-c {
    -moz-transition: color .4s;
    -o-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
a:hover {
    text-decoration: none;
}
.visuallyhidden {position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px;margin: -1px; padding: 0; border: 0;}

input,
textarea,
select {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form input::-webkit-input-placeholder,form textarea::-webkit-input-placeholder{color:#282843;}
form input:-moz-placeholder, form textarea:-moz-placeholder{color:#282843;}
form input::-moz-placeholder, form textarea::-moz-placeholder{color:#282843;}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder{color:#282843;}

html {
    overflow-x: hidden;
}

body {
    font: 16px 'RobotoLight', sans-serif;
    color: #fff;
    height: 100%;
    overflow-x: hidden;
    background: url(../images/body_bg.png) #282828;
}

ul.notstyle {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hide-sm {
    display: none;
}

#facebox .close img,
.close,
.close:focus, .close:hover {
    opacity: 1;
}
.popup form,
.form-end {
    background: #48c04b;
}
#facebox .content {
    background: none;
}
#facebox .popup {
    box-shadow: none;
    text-align: center;
}
.form-end {
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.f-ttl {
    font: 30px RobotoLight;
    padding-bottom: 10px;
    color: #fff;
}
.f-txt {
    font: 16px OpenSansLight;
}
#facebox .form-input {
    background: none;
    border: 0;
    border-bottom: 2px #fff solid;
    height: 36px;
    width: 260px;
    text-align: center;
    margin: 22px 0 5px;
}
#facebox input::placeholder {
    color: #fff;
    font: 16px OpenSansLight;
}
.form-btn {
    font: 16px RobotoMedium;
    background: #2d2a29;
    border: 0;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    width: 236px;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
    color: #fff;
    line-height: 52px;
}

    .form-btn:hover {
        color: #48c04b;
    }

img {
    border: 0;
}

.hide {
    display: none;
}

/*-------------------------*/
.container {
    width: 100%;
}
address {
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
}
.top-container {
    background: #2d2a29;
}
.h-col-2 {
    float: right;
    font: 18px 'RobotoMedium', sans-serif;
}
.h-logo {
    display: inline-block;
    vertical-align: top;
}
.h-tel,
.h-tel:hover,
.h-tel:focus,
.h-tel:active {
    display: block;
    color: #fff;
}
.h-tel-link {
    font-size: 14px;
    border: 2px #46b749 solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 8px 15px 10px;
    color: #fff;
    text-decoration: none;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    vertical-align: top;
    display: inline-block;
}
.h-tel-link:hover {
    color: #fff;
    background-color: #46b749;
}
.h-mail, .h-mail:hover, .h-mail:active, .h-mail:visited {
    display: inline-block;
    color: #fff;
}
header {
    overflow: hidden;
}

/*--------------------*/
.menu-container {
    background-color: #383737;
}
#navbar {
    padding: 0;
}
.navbar-default {
    background: none;
    border:0;
}

.navbar {
    min-height: 44px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-decoration: none;
    font: 15px PFCentroSlabProLight;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #46b749!important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #46b749;
}

.navbar-default .navbar-toggle {
    float: left;
    border: 2px #46b749 solid;
}

.navbar-default .navbar-toggle>div:first-child {
    margin-top: 2px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-toggle > div {
    display: inline-block;
    vertical-align: top;
}
.fixed {
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}



/***************/
.txt-cont {
    padding-bottom: 20px;
    min-height: 100vh;
}
.txt-cont-1 {
    position: relative;
    overflow: hidden;
    background: #282828;
    padding-bottom: 40px!important;
    
}
.txt-cont-1 h1, 
.txt-cont .h1 {
    font: 32px PFCentroSlabProMedium;
    color: #fff;
    line-height: 38px;
    position: relative;
    z-index: 4;
} 
.txt-cont-1 h1 span,
.txt-cont .h1 span {
    color: #46b749;
}
h1, .h1 {
    margin: 30px 0;
}
.green {
    color: #46b749;
    font-family: PFCentroSlabProBold;
}
.green-n {
    color: #46b749;
}
.txt-gr {
    color: #46b749;
    font: 20px PFCentroSlabProLight;
    padding-bottom: 12px;
}
.txt-cont-1 .row>div {
    margin-bottom: 46px; 
    position: relative;
    z-index: 11;
}

.txt-cont-1 .row {
    position: relative;
}
.txt-cont p {
    line-height: 24px;
}
.txt-cont-1 p {
    padding-right: 41px;
}
.prez-link,
.vid-link {
    width: 222px;
    height: 68px;
    color: #fff;
    background-color: #42403f;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    display: block;
    padding: 12px 10px 0 78px;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
    position: relative;

}
.prez-link:hover,
.vid-link:hover,
.prez-link:focus,
.vid-link:focus,
.prez-link:active,
.vid-link:active {
    color: #46b749;
    text-decoration: none;
}
.prez-link:before,
.vid-link:before {
    width: 67px;
    height: 67px;
    position: absolute;
    left: 0;
    top: 0;
}
.prez-link::after,
.vid-link::after {
    content: "";
    background: #46b749;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.prez-link:before {
    content: url(../icons/icons-4/download.svg);
    width: 34px;
    z-index: 1;
    margin: 14px 0 0 17px;
}
.vid-link:before {
    content: url(../icons/icons-4/video.svg);
    width: 30px;
    z-index: 1;
    margin: 18px 0 0 23px;
}
.black {
    color: #000!important;
}
.txt-gr-2 {
    color: #46b749;
    font: 20px PFCentroSlabProMedium;
    padding-bottom: 12px;
    position: relative;
}
.txt-cont-2 {
    color: #000;
}
.txt-cont-2 p {
    line-height: 24px;
}
.ul-bl2 li {
    background: rgba(64, 64, 64, .07);
    position: relative;
    left: -15px;
    padding: 10px 0 6px 60px;
    width: 375px;
    margin-bottom: 12px;
    border-radius: 0 55px 55px 0;
    -webkit-border-radius: 0 55px 55px 0;
    -moz-border-radius: 0 55px 55px 0;
    -ms-border-radius: 0 55px 55px 0;
    -o-border-radius: 0 55px 55px 0;
}
.txt-gr-2:before {
    content: url(../icons/icons-4/coffee.svg);
    position: absolute;
    left: -43px;
    top: 2px;
    width: 28px;
}
#bl2 {
    position: relative;
}
.v-rol a {
    display: block;
    width: 100%;
    height: 112px;
    background: url(../images/play.png) left top no-repeat;
    color: #46b749;
    text-decoration: underline;
    padding: 47px 0 0 126px;
}
.v-rol a:hover {
    text-decoration: none;
}


.txt-cont-2>div {
    position: relative;
}
.txt-cont-3 {
    background: #404040;
}
.bl3-ttl {
    font: 20px PFCentroSlabProBold;
    padding: 4px 0 0 64px;
    position: relative;
}
.bl3-ttl::before {
    content: "";
    height: 63px;
    width: 50px;
    position: absolute;
    left: 0;
}
.txt-cont-4 {
   background:  url(../images/paket_mob.png) left 72px bottom 20px no-repeat #c2c0c0;
}

.bl4-txt-gr {
    font: 20px PFCentroSlabProMedium;
    color: #119815;
    padding-bottom: 10px;
    white-space: nowrap;
}
.txt-cont-4 .row>div {
    margin-bottom: 30px;
    padding-left: 82px;
}
.txt-cont-4 p {
    color: #000;
}
.txt-cont-4 .row>div::before {
    position: absolute;
    width: 52px;
}
#list1::before {
    content: url(../icons/icons-2/icons-1-01.svg);
    left: 15px;
    top: -17px;
}
#list2::before {
    content: url(../icons/icons-2/icons-1-02.svg);
    left: 15px;
    top: -15px;
}
#list3::before {
    content: url(../icons/icons-2/icons-1-03.svg);
    left: 12px;
    top: -13px;
}
#list4::before {
    content: url(../icons/icons-2/icons-1-04.svg);
    left: 10px;
}
#list5::before {
    content: url(../icons/icons-2/icons-1-05.svg);
    left: 15px;
    top: -15px;
}
#list6::before {
    content: url(../icons/icons-2/icons-1-06.svg);
    left: 18px;
    top: -10px;
}
.txt-cont-4 .row>div {
    position: relative;
}
.txt-cont-5 .h1 {
    color: #a3a3a3;
    font: 40px Drina;
    text-align: center;
}
.txt-cont-5 {
    background: url(../images/back5.jpg) no-repeat ;
    background-size: 100% 100%;
}
.coffee-st {
    font: 22px Drina;
    text-align: center;
    padding-top: 30px;
}
.coffee-st .img {
    position: relative;
}
.coffee-st img {
    position: relative;
    z-index: 2;
}
.coffee-st .line-2 img {
    z-index: 3;
}
.coffee-st .img::after {
    content: url(../images/shadow.png);
    position: absolute;
    bottom: -56px;
    right: -80px;
    z-index: 1;
}
.mobile .coffee-st .img::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: -4px;
    bottom: -14px;
    width: 100%;
    height: 100%;
    background: url(../images/shadow.png) left bottom no-repeat;
    background-size: 110%;
}
.coffee-st.owl-carousel .img::after {
    display: none;
}
.st-ttl {
    white-space: nowrap;
}
.line-1 .st-ttl {
    margin-bottom: 15px;
}

.coffee-st > div:hover {
	-webkit-animation: text-pop-up-top 0.4s both;
	        animation: text-pop-up-top 0.4s both;
}
.coffee-st > div.line-2:hover {
    z-index: 3;
}
@-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
  }
.txt-cont-6 .h1 {
    color: #000;
}
.txt-cont-6 {
    background: url(../images/bg6.jpg) right bottom no-repeat #d9e1e9;
}
.txt-cont-6.block-h6 {
    min-height: 700px;
}
.txt-cont-6.block-h6::after {
    top: 90px;
}
.min-teh {
    color: #000;
    background: rgba(195, 202, 209, 0.6);
    display: inline-block;
    position: relative;
    left: -15px;
    padding: 38px 40px 38px 16px;
    border-radius: 0 200px 200px 0;
    -webkit-border-radius: 0 200px 200px 0;
    -moz-border-radius: 0 200px 200px 0;
    -ms-border-radius: 0 200px 200px 0;
    -o-border-radius: 0 200px 200px 0;
}
.min-teh > div {
    display: inline-block;
    margin-bottom: 20px;
}
.min-teh img {
    font-size: 14px;
}
.tech-s {
    font: 120px/93px PFCentroSlabProBold;
    color: #48c04b;
}
.tech-1 .tech-s {
    width: 205px;
}
.tech-2 .tech-s {
    width: 150px;
}
.tech-2 .tech-s img {
    padding-top: 7px;
}
.txt-cont-7 {
    background: url(../images/logo_bot_mob.png) center 97px no-repeat, 
                url(../images/back7.jpg);
    min-height: auto;
}
.txt-cont-7 .h1 {
    color: #fefefe;
}
.ul-bl7 {
    position: relative;
    left: -15px;
}
.ul-bl7 .num {
    font: 50px PFCentroSlabProBold;
    color: #48c04b;
    background: rgba(255, 255, 255, .05);
    width: 100px;
    text-align: right;
    padding-right: 25px;
    border-radius: 0 40px 40px 0;
    -webkit-border-radius: 0 40px 40px 0;
    -moz-border-radius: 0 40px 40px 0;
    -ms-border-radius: 0 40px 40px 0;
    -o-border-radius: 0 40px 40px 0;
}
.ul-bl7 .txt {
    line-height: 24px;
    padding: 8px 0 0 3px;
}
.ul-bl7 div {
    display: table-cell;
    vertical-align: top;
}
.ul-bl7 li {
    padding-bottom: 10px;
}
.go-btn {
    font-size: 18px;
    border: 2px #46b749 solid;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    background: #46b749;
    padding: 9px 20px 10px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 35px 0 0 79px;
}
.go-btn:hover {
    color: #fff;
    background-color: transparent;
}
.socseti a {
    display: inline-block;
    width: 33px;
    height: 32px;
}
.vk {
    background: url(../images/vk.png);
}
.inst {
    background: url(../images/inst.png);
}
.footer {
    overflow: hidden;
    margin: 55px 0  10px;
    font: 14px OpenSansLight;
}
.socseti {
    margin-top: 15px;
}
.coffee-love {
    position: fixed;
    top: 33%;
    z-index: 1090;
}
.coffee-link {
    color: #fff;
    display: inline-block;
    background: rgba(91, 90, 90, .85);
    padding: 11px 72px 0 29px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
    height: 62px;
    margin: 0 0 0 34px;
}
.coffee-link:hover,
.coffee-link:focus {
    color: #46b749;
}
.coffee-link:hover::after,
.coffee-link:focus::after {
    border-color: #46b749;
}
.coffee-link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 62px;
    width: 62px;
    background: url(../images/cofright.svg) center no-repeat #2d2a29;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px #636262 solid;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    
}
.main-cont {
    padding: 0;
    position: relative;
}
#owl-slider .line-2 .st-ttl:last-child {
    display: none;
}
div.owl-wrapper-outer {
    margin-bottom: 0;
}
div.owl-controls {
    margin: 0!important;
}
.owl-controls .owl-buttons div.owl-prev {
    background: url(../images/prev.png) left no-repeat;
    width: 26px;
    height: 26px; 
    position: absolute;
    top: 160px;
    left: 0;
}
.owl-controls .owl-buttons div.owl-next {
    background: url(../images/next.png) right no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 160px;
    right: 0; 
}
.mobile .line-1 img {
    margin-top: 4px;
}
a.f-mail, a.f-mail:active, a.f-mail:hover, a.f-mail:visited {
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    width: auto;
    height: auto;
    top: -10px;
}
.coffe_animation {
    margin-top: 10vh;
    max-height: 80vh;
    max-width: 80vh;
    margin-right: auto;
    margin-left: auto;
}
.big_m .coffe_animation {
    max-height: 70vh;
    max-width: 70vh;
}
.coffe_animation_block::before {
    content: url(../images/rotate.png);
    width: 50px;
    height: 28px;
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 2;
    opacity: 0.4;
    left: 47%;
}
